html{
	box-sizing: border-box;
	//font-size:62.5%;
}

*,
*:before,
*:after{
	box-sizing:inherit;
}

body{
	margin: 0;
}

a {  
	text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}

h1{
	color:$color-white;
	font-family:$font-title;
}