//Color
$color-turques:#00a0aa;
$color-turques-lighter:#4ebac6;
$color-white:#fff;
$color-black:#000;
$color-black-lighter:#5b5b5b;
$color-gray:#d4d4d4;
$color-gray-lighter:#cdcdcd;
$color-blue-lighter:#2aa9e0; //Form-suscribe
$color-orange:#fc7d0c;
$color-body-gray-lighter:#3f3f3f;

//Fonts
$font-title:Helvetica;
$font-subtitle:Arial,sans-serif,Helvetica;
$font-text:Arial;

//Grids Sizes
//Tamaño General 1200px
// $grid-sidebar: 300px;
// $grid-main-content: 600px;